extends partial/master
include mixins/actualizarTrabajador


block contenido
    
    .contenido-principal
      //- .alert.alert-success.ml-5(role="alert" style="width:400px;") A simple success alert—check it out!
      //- if errores
      //-   .alert.alert-danger(role="alert" style="width:400px;") A simple danger alert—check it out!
      //- if errores
      //- .alert.alert-warning(role="alert" style="width:400px;") A simple warning alert—check it out!
      
      +actualizarTrabajador(trabajadorBD)
      
    
