extends partial/master
block contenido
    .contenido-principal
        if error
            .alert.alert-danger(role="alert" style="width:400px;") #{error}
        if exito
            .alert.alert-success(role="alert" style="width:400px;") #{exito}
        .form(style="width: 800px; padding: 15px")
            h2.title Agregar Alumno
            form.sign-in-form(action="/alumno" method="post")

                #nombreApellidos(style="width: 700px; display: flex")
                    .input-field2(style="margin-right: 5px")
                        i.fas.fa-user
                        input(type="text" placeholder="Nombre" name="nombre" value= nombre required)
                    .input-field2(style="margin-right: 5px")
                        i.fas.fa-user
                        input(type="text" placeholder="Apellidos Paterno" name="apellidoPater" value= apellidoPaterno required)
                    .input-field2
                        i.fas.fa-user
                        input(type="text" placeholder="Apellidos Materno" name="apellidoMater" value= apellidoMaterno required)
                #dniCodModular(style="width: 500px; display: flex")
                    .input-field2(style="margin-right: 5px")
                        i.fas.fa-address-card
                        input(type="text" placeholder="DNI" name="dni" minlength="8" maxlength="8" value= dni)
                    .input-field2
                        i.fas.fa-portrait
                        input(type="text" placeholder="Codigo del Estudiante " name="CodEstudiante" minlength="14" maxlength="14" value= codEstudiante)
                

                input.btn.solid.animate__animated.animate__backInRight(type="submit" value="Agregar")

    
