extends partial/master

block contenido
    .contenido-principal
      if exito
        .alert.alert-success.ml-5(role="alert" style="width:400px;") #{exito}
      if error
        .alert.alert-danger.ml-5(role="alert" style="width:400px;") #{error}
      .form
        form.sign-in-form(action="/trabajador/cambiar-contrasena" method= "post")
          h2.title Cambiar Contraseña
          if idTrabajador
            input(type="text" name="idTrabajador" value= idTrabajador  hidden)
          .input-field2.animate__animated.animate__zoomIn
            i.fas.fa-lock
            input(type="password" placeholder="Contraseña Actual" name="contraseñaActual" required minlength="8" maxlength="8")
          .input-field2.animate__animated.animate__zoomIn
            i.fas.fa-lock
            input(type="password" placeholder="Nueva Contraseña" name="nuevaContraseña" id="nuevaContraseña" required minlength="8" maxlength="8")
          .input-field2.animate__animated.animate__zoomIn
            i.fas.fa-lock
            input(type="password" placeholder="Repetir Contraseña" name="repetirContraseña" id="repetirContraseña" required minlength="8" maxlength="8")
          input#btnActualizar.btn.solid.animate__animated.animate__backInRight(type="submit" value="Actualizar" disabled)
          p.error(style="display: none") Las Contraseñas deben de ser iguales
          if errorContrasena
            p.error #{errorContrasena}
    script(type="text/javascript" src="/js/cambiarContrasena.js")
    