extends partial/master

block contenido
    .contenido-principal
       
        .form(style="width: 700px")
            form.sign-in-form(action="#" style="padding: 0rem 3rem")
                h2.title Datos de La Instituci칩n Educativa
                .fila
                    .input-field(style="margin-right: 4px;")
                        i.fas.fa-school
                        input#nombColegioAct(type="text" placeholder="Nombre del Colegio" name="nombColegioAct")
                    .input-field(style="margin-left: 4px;")
                        i.fas.fa-warehouse
                        input#ugel(type="text" placeholder="UGEL" name="ugel")
                .fila
                    .input-field(style="margin-right: 4px;")
                        i.fas.fa-address-card
                        input(type="text" placeholder="C칩digo Modular" name="nuevaContrase침a" id="nuevaContrase침a")
                    .input-field(style="margin-left: 4px;")
                        i.fas.fa-city
                        input#departamento(type="text" placeholder="Departamento" name="departamento")
                .fila
                    .input-field(style="margin-right: 4px;")
                        i.fas.fa-building
                        input#provincia(type="text" placeholder="Provincia" name="provincia")
                    .input-field(style="margin-left: 4px;")
                        i.fas.fa-home
                        input#distrito(type="text" placeholder="Distrito" name="distrito")
                input.btn.solid(type="submit" value="Actualizar")
