doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='https://kit.fontawesome.com/64d58efce2.js' crossorigin='anonymous')
  link(rel='stylesheet' href='./css/login.css')
  title #{tituloPagina}
  link(rel="shortcut icon" href="/img/icon.png")

.container
  .forms-container
    .signin-signup
      form.sign-in-form(action='/' method='post')
        h2.title Iniciar Sesión
        .input-field
          i.fas.fa-user
          input(type='text' placeholder='DNI' name='dni' required)
        .input-field
          i.fas.fa-lock
          input(type='password' placeholder='Contraseña' name='contrasena' required)
        input.btn.solid(type='submit' value='Iniciar')
        
        //- if errores
        //-   each error in errores
        //-     p.error asasasas

  .panels-container
    .panel.left-panel
      .content
        h1 Aurelio Cárdenas
        p
          | Formar a los educandos integralmente, incidiendo en la practica de
          | valores,fortaleciendo la calidad de los servicios educativos
          | acorde a las expectativas de un mundo globalizado, comprometidos
          | con la problematica de nuestra instituci&oacute;n y la comunidad.
