html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: "Poppins", sans-serif;
}
/** Barra **/
body.index {
    height: 100vh;
}
.barra {
    background-color: #346cb0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.barra h1 {
    color: white;
    margin-right:5rem;
    font-size: 1.4rem;

}
.barra a {
    color: white;
    text-decoration: none;
}

.barra h3{
    color: white;
    font-size: 1rem;
}
.barra h6{
    color: white;
    font-size: 0.8rem;
    text-align: center;
}

.barra .inicio{
    font-size: 1.4rem;
    font-weight: bold;
    padding: 7.55rem;
    background-color: rgb(48, 97, 159);
}

/*** Desplegable **/

#menu{
    margin-right: 5rem;
}
#menu .datosUser {
    background-color:#346cb0;
    padding:9px;
    letter-spacing:1px;
}
.opciones{
    background-color: white;
    float: left;
}
span{
    float: right;
}

#menu ul {
  list-style:none;
  margin:0;
  padding:0;
}

#menu ul a {
  display:block;
  color:white;
  text-decoration:none;
  font-weight:400;
  font-size:15px;
  padding:10px;
  letter-spacing:1px;
}

#menu ul li {
  position:relative;
  display: grid;
  float:left;
  margin:0;
  padding:0;
}

#menu ul li:hover .hija{
  color: #444;
  font-weight: bold;
}
#menu ul li .hija:hover{
    color: rgb(48, 97, 159);
    text-decoration: none; 
    background-color: #f0f0f0a4;
}


#menu ul ul {
  display:none;
  position:absolute;
  top:100%;
  left:0;
  padding:0;
}

#menu ul ul li {
  float:none;
  width:150px
}

#menu ul ul a {
  line-height:120%;
  padding:10px 15px;
}

#menu ul li:hover > ul {
  display:block;
}
/*** sidebar**/
.contenedor-proyectos {
    height: 100%;
    width: 300px;
    background-color: rgb(246, 247, 249);
    padding-top: 1rem;
    border-right: 1px solid rgb(217, 218, 219);;
}
.panel {
    padding: 1rem;
    margin: 1rem;
}
.panel a {
    color: #acacac;
    font-weight: bold;
    text-decoration: none;
    
}
.panel li{
    margin-bottom: 20px ;
}
.panel h2 {
    color: #444;
    font-weight: 900;
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
}
.panel ul{
    list-style: none;
    margin-top: 2rem;
}
.panel a:hover {
    color: rgb(48, 97, 159);
    text-decoration: none;
}
/** Contenido Principal */
.contenedor {
    display: flex;
    height: calc( 100vh - 60px);
}
.contenido-principal {
    flex: 1;
    padding: 1rem;
    background-color: rgb(246, 247, 249);
}
.contenido-principal h1,
.contenido-principal h2 {
    text-align: center;
}
.contenido-principal h1 {
    font-size: 1.8rem;
}
.contenido-principal h2 {
    font-size: 1.4rem;
    margin-top: 2rem;
}

