doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    // fontawesome
    script(src="https://kit.fontawesome.com/96b669279d.js" crossorigin="anonymous")
    // bootstrap
    link(rel="stylesheet" href="./css/otros/bootstraop.min.css")
    // normalize
    link(rel="stylesheet" href="./css/otros/normalize.css")
    // Import materialize.css
    link(href="./css/otros/materializeIcons.css" rel="stylesheet")
    link(type="text/css" rel="stylesheet" href="./css/otros/materialize.min.css")
    // Import animate.css
    link(href="./css/otros/animate.min.css" rel="stylesheet")
    // propios estilos
    link(rel="stylesheet" href="./css/login.css")
    link(rel="stylesheet" href="./css/app.css")

  body
    header.barra
      .inicio
        a(href="#") Inicio
      #menu
        ul
          li.datosUser
            a(href="#") Juan espinoza
            ul
              .opciones
                li
                  a.hija(href="#")
                    | Cuenta
                    span
                      i.fas.fa-user
                li
                  a.hija(href="#")
                    | Salir
                    span
                      i.fas.fa-sign-in-alt
    main.contenedor
        aside.contenedor-proyectos
            .panel.lista-proyectos
                h2 Configuración
                #director
                    ul#proyectos.proyectos
                        li
                            a(href="#") Datos de la I.E.
                              span
                                i.fas.fa-graduation-cap
                        li
                            a(href="#") Lista de Trabajadores
                              span
                                i.fas.fa-users
                #secretaria
                    ul#proyectos.proyectos
                        li
                            a(href="#") Generar Certificado 
                              span
                                i.fas.fa-medal
                        li
                            a(href="#") Agregar alumno
                              span
                                i.fas.fa-user-graduate
                        
        block contenido  
    script(type="text/javascript" src="./js/otros/materialize.min.js")
    script(type="text/javascript" src="./js/otros/bootstrap.bundle.min.js")
